{% extends 'layout.html' %}

{% block body %}
<h1 class="display">Find a Star</h1>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form method=post>
    <div class="form-group">

        {{ render_field(form.search, cls="form-control", errcls="is-invalid", placeholder="Search for a Star by Name") }}

        <button type="submit" value="search" class="btn btn-primary" value="Search"
            style="background-color: #e76f51;">Search</button>
    </div>
</form>


{% include 'includes/_showstar.html' %}

{% endblock %}