{% extends 'layout.html' %}

{% block body %}
<h1 class="display">Add a Star</h1>
<hr>

<form>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter Star Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter Distance">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #e76f51;">Insert</button>
</form>


{% endblock %}