{% extends 'layout.html' %}

{% block body %}
<h1 class="display">Add a Star</h1>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form method=post>
    <div class="form-group">

        {{ render_field(form.name, cls="form-control", errcls="is-invalid", placeholder="Star Name") }}
        {{ render_field(form.distance, cls="form-control", errcls="is-invalid", placeholder="Star Distance") }}

        <button type="submit" value="insert" class="btn btn-primary" value="Search"
            style="background-color: #e76f51;">Add</button>
    </div>
</form>


{% include 'includes/_listmessages.html' %}

{% endblock %}