{% extends 'layout.html' %}

{% block body %}
<h1 class="display">Update a Star</h1>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form method=post onSubmit="return confirm('Are you sure?');">
    <div class="form-group">

        {{ render_field(form.name, cls="form-control", errcls="is-invalid", placeholder="Star Name") }}
        {{ render_field(form.distance, cls="form-control", errcls="is-invalid", placeholder="Star Distance") }}

        <button type="submit" value="update" class="btn btn-primary" value="Search"
            style="background-color: #e76f51;">Update</button>
    </div>
</form>


{% include 'includes/_listmessages.html' %}
<br>
<h4 class="font-weight-light"> The Database contains: </h4>
{% include 'includes/_allstars.html' %}

{% endblock %}